/* Общие настройки */

body,
html {
	margin: 0;
	padding: 0
}

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

.container {
	outline: 1px solid red;
	min-width: 320px;
	padding: 0 20px;
}

/* Медиа-выражения > 600px */

@media (min-width: 600px) {
	body {
		background-color: lightblue;
	}
	.container {
		width: 600px;
		margin: 0 auto;
		padding: 0 30px;
	}
}

/* Медиа-выражения > 900px */

@media (min-width: 900px) {
	body {
		background-color: yellow;
	}
	.container {
		width: 900px;
		padding: 0 40px;
	}
}

/* Медиа-выражения > 1200px */

@media (min-width: 1200px) {
	body {
		background-color: pink;
	}
	.container {
		width: 1200px;
		padding: 0 65px;
	}
}

/* Медиа-выражения > 1800px */

@media (min-width: 1800px) {
	body {
		background-color: greenyellow;
	}
	.container {
		width: 1800px;
		padding: 0 100px;
	}
}
